.project-box {
    width: 75%;
    margin: 5rem auto;

    &__content {
        background-color: $color-tertiary;
        padding: 1rem 2rem;
        text-align: center;
    }

    &__title {
        h4 {
            text-transform: uppercase;

            a {
                text-decoration: none;
                font-size: 2.4rem;
                color: $color-secondary;
            }
        }
    }

    &__date {
        span {
            color: $color-secondary;
            font-weight: bold;
        }
    }

    &__tech {
        ul {
            list-style: none;
            text-align: center;
            background-color: $color-primary;
        }

        li {
            display: inline-block;
            color: $color-light;
            padding: 0 1rem;
        }
    }
}