// Colors
$color-primary: #0B3954;
$color-secondary: #FF6663;
$color-3: #BFD7EA;
$color-4: #E0FF4F;
$color-5: #FEFFFE;
$color-dark: #333;

// Fonts
$font-size-huge: 6rem;
$font-size-big: 4rem;
$font-size-standard: 1.6rem;
