// Colors
$color-primary: rgb(11,57,84);
$color-secondary: #FF6663;
$color-tertiary: #BFD7EA;
$color-4: #E0FF4F;
$color-light: #FEFFFE;
$color-dark: #333;

// Font Sizes
$font-size-huge: 6rem;
$font-size-big: 4rem;
$font-size-medium: 2.8rem;
$font-size-average: 2.4rem;
$font-size-small: 2rem;
$font-size-standard: 1.6rem;
