*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.show-div {
  display: block;
}

.hide-div {
  display: none;
}

.text-align-right {
  text-align: right;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  color: #FEFFFE;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}
.heading-primary span {
  color: #FF6663;
  text-transform: uppercase;
}

.heading-secondary {
  color: #0b3954;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
}

.heading-tertiary {
  color: #0b3954;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: 1.6rem;
  color: #0b3954;
}

.btn-primary {
  text-decoration: none;
  padding: 1rem;
  font-size: 2.8rem;
  background-color: #FEFFFE;
  color: #0b3954;
  border: 0.2rem solid #0b3954;
  transition: all 0.5s;
}
.btn-primary:hover {
  background-color: #0b3954;
  color: #FEFFFE;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #BFD7EA;
  overflow-x: hidden;
  transition: 0.5s;
}
.side-nav__close-btn {
  text-align: left;
}
.side-nav__close-btn a {
  display: inline-block;
  color: #0b3954;
  margin: 2rem;
}
.side-nav__close-btn a i {
  font-size: 3.5rem;
}
.side-nav ul {
  text-align: center;
  list-style: none;
  margin-top: 5rem;
}
.side-nav ul li:not(:last-child) {
  margin-bottom: 3rem;
}
.side-nav ul li a {
  text-decoration: none;
  color: #0b3954;
  font-size: 2.8rem;
}
.side-nav__social-links {
  text-align: center;
  margin-top: 5rem;
}

.link-block {
  width: 5.5rem;
  height: 5.5rem;
  display: inline-block;
  background-color: #0b3954;
  border: 2px solid #0b3954;
  margin: 0 1.5rem;
  transition: all 0.2s;
}
.link-block:hover {
  transform: scale(0.9);
}
.link-block a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  position: relative;
}
.link-block a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FEFFFE;
}

.work-block {
  margin: 1rem 0;
  padding: 20px;
  box-shadow: 0 8px 6px -6px #0b3954;
}
.work-block__title {
  font-size: 2.4rem;
  color: #0b3954;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.work-block__company {
  font-size: 2rem;
  color: #FF6663;
  margin-bottom: 0.5rem;
}
.work-block__description {
  margin-bottom: 0.5rem;
}
.work-block__period {
  font-size: 2rem;
  color: #FF6663;
}

.box {
  display: inline-block;
  margin: 4rem;
}
.box__title {
  font-size: 2.4rem;
  color: #0b3954;
  text-transform: uppercase;
  text-align: center;
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #0b3954;
  font-size: 4rem;
  font-weight: bold;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.one .progress-bar {
  border-color: #FF6663;
}

.progress.one .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}

.progress.one .progress-value {
  color: #BFD7EA;
}

.progress.two .progress-bar {
  border-color: #0b3954;
}

.progress.two .progress-left .progress-bar {
  animation: loading-4 1.2s linear forwards 1.8s;
}

.progress.two .progress-value {
  color: #0b3954;
}

.progress.three .progress-bar {
  border-color: #0b3954;
}

.progress.three .progress-left .progress-bar {
  animation: loading-3 1.2s linear forwards 1.8s;
}

.progress.three .progress-value {
  color: #0b3954;
}

.progress.four .progress-bar {
  border-color: #0b3954;
}

.progress.four .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.four .progress-value {
  color: #0b3954;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}
.project-box {
  width: 75%;
  margin: 5rem auto;
}
.project-box__content {
  background-color: #BFD7EA;
  padding: 1rem 2rem;
  text-align: center;
}
.project-box__title h4 {
  text-transform: uppercase;
}
.project-box__title h4 a {
  text-decoration: none;
  font-size: 2.4rem;
  color: #FF6663;
}
.project-box__date span {
  color: #FF6663;
  font-weight: bold;
}
.project-box__tech ul {
  list-style: none;
  text-align: center;
  background-color: #0b3954;
}
.project-box__tech li {
  display: inline-block;
  color: #FEFFFE;
  padding: 0 1rem;
}

.form {
  width: 75%;
  margin: 0 auto;
  background: #0b3954;
  padding: 2rem;
}
.form__group {
  margin: 2rem 0;
}
.form__label {
  color: #FEFFFE;
  font-size: 2.4rem;
  display: block;
}
.form__input {
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  display: block;
}
.form__input::-webkit-input-placeholder {
  color: #0b3954;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}
.form__input::-moz-placeholder {
  color: #0b3954;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}
.form__input:-ms-input-placeholder {
  color: #0b3954;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}
.form__input:-moz-placeholder {
  color: #0b3954;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: #0b3954;
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}
.header__content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}
.header__arrow {
  width: 5.5rem;
  height: 5.5rem;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  background-color: #0b3954;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #0b3954;
  position: relative;
}
.left__heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right {
  width: 50%;
  height: 100%;
  float: right;
  z-index: 2;
  box-shadow: -8px 0 10px -6px #FEFFFE;
  overflow-y: scroll;
}

.menu-button {
  text-align: right;
}
.menu-button a {
  display: inline-block;
  color: #0b3954;
  margin: 2rem;
}
.menu-button a i {
  font-size: 3.5rem;
}

.right-content {
  height: 100%;
  position: relative;
}

.home {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
.home__divider {
  width: 10rem;
  margin: 2rem auto 0 auto;
  height: 3px;
  border: none;
  border-top: 1px solid #0b3954;
}
.home ul {
  list-style: none;
  margin: 4rem 0;
}
.home ul li {
  display: inline-block;
}
.home ul li:not(:last-child) {
  margin: 0.5rem;
}

.about {
  padding: 0 3rem;
}
.about__heading {
  text-align: center;
}
.about__me {
  text-align: center;
  margin: 5rem 0;
}
.about__me .image {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  background: url("../images/altaf-bhai.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.about__me h3 {
  margin: 3rem 0;
}
.about__me p:not(:last-child) {
  margin-bottom: 2rem;
}
.about__work h3 {
  color: #FEFFFE;
  background: #0b3954;
  display: inline-block;
  padding: 0 3rem;
}

.skills {
  padding: 0 3rem;
}
.skills__heading {
  text-align: center;
}
.skills__description {
  text-align: center;
}
.skills__content {
  padding: 0 5rem;
}

.portfolio__heading {
  text-align: center;
}

.contact__heading {
  text-align: center;
}
.contact__form {
  margin-top: 5rem;
}

/*# sourceMappingURL=style.css.map */
