.left {
    width: 50%;
    height: 100%;
    float: left;
    background-color: $color-primary;
    position: relative;

    &__heading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.right {
    width: 50%;
    height: 100%;
    float: right;
    z-index: 2;
    box-shadow: -8px 0 10px -6px $color-light;
    overflow-y: scroll;
}

.menu-button {
    text-align: right;

    a {
        display: inline-block;
        color: $color-primary;
        margin: 2rem;
        i {
            font-size: 3.5rem;
        }
    }
}

.right-content {
    height: 100%;
    position: relative;
}

// Home
.home {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    

    &__divider {
        width: 10rem;
        margin: 2rem auto 0 auto;
        height: 3px;
        border: none;
        border-top: 1px solid $color-primary;
    }

    ul {
        list-style: none;
        margin: 4rem 0;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin: .5rem;
            }

        }
    }
}

// About
.about {
    padding: 0 3rem;

    &__heading {
        text-align: center;
    }

    &__me {
        text-align: center;
        margin: 5rem 0;

        .image {
            width: 25rem;
            height: 25rem;
            margin: 0 auto;
            background: url("../images/altaf-bhai.jpg");
            background-size: cover;
            -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }

        h3 {
            margin: 3rem 0;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__work {
        h3 {
            color: $color-light;
            background: $color-primary;
            display: inline-block;
            padding: 0 3rem;
        }
    }
}

// Skills
.skills {
    padding: 0 3rem;

    &__heading {
        text-align: center;
    }

    &__description {
        text-align: center;
    }

    &__content {
        padding: 0 5rem;
    }

}

// Portfolio
.portfolio {

    &__heading {
        text-align: center;
    }

}
// Portfolio

// Contact
.contact {

    &__heading {
        text-align: center;
    }

    &__form {
        margin-top: 5rem;
    }
}